Repository nito-tech/mitazo: changes, and which lefthook commands are due for each by the changed paths.
All: biome-root, biome-frontend, biome-backend, biome-packages

lefthook.yml:

# Lefthook configuration
# https://github.com/evilmartians/lefthook

pre-commit:
  parallel: true
  commands:
    # Biome checks for root-level files
    biome-root:
      glob: "*.{js,ts,cjs,mjs,json}"
      run: pnpm biome ci --colors=off {staged_files}
      env:
        NO_COLOR: 1
        FORCE_COLOR: 0

    # Biome checks for frontend
    biome-frontend:
      glob: "apps/frontend/**/*.{js,jsx,ts,tsx,json,css}"
      run: pnpm biome ci --colors=off {staged_files}
      env:
        NO_COLOR: 1
        FORCE_COLOR: 0

    # Biome checks for backend
    biome-backend:
      glob: "apps/backend/**/*.{js,ts,json}"
      run: pnpm biome ci --colors=off {staged_files}
      env:
        NO_COLOR: 1
        FORCE_COLOR: 0

    # Biome checks for packages
    biome-packages:
      glob: "packages/**/*.{js,ts,json}"
      run: pnpm biome ci --colors=off {staged_files}
      env:
        NO_COLOR: 1
        FORCE_COLOR: 0

    # TypeScript type checking
    typecheck:
      run: pnpm type-check
      env:
        NO_COLOR: 1
        FORCE_COLOR: 0
        CI: true

commit-msg:
  parallel: false
  commands:
    # Validate commit message with commitlint
    commitlint:
      run: pnpm commitlint --edit {1}

chore: add commitlint configuration
  commitlint.config.cjs
Due: biome-root

chore: Update .gitignore for monorepo tools
  .gitignore
Due: none

chore: Configure commitlint rules for commit message format
  commitlint.config.cjs
Due: biome-root

fix: Fix environment variable types in lefthook.yml
  lefthook.yml
Due: none

refactor: Move Next.js project to apps/frontend
  .claude/settings.local.json
  .vscode/settings.json
  apps/frontend/README.md
  apps/frontend/eslint.config.mjs
  apps/frontend/next.config.ts
  apps/frontend/package.json
  apps/frontend/postcss.config.mjs
  apps/frontend/public/file.svg
  apps/frontend/public/globe.svg
  apps/frontend/public/next.svg
  apps/frontend/public/vercel.svg
  apps/frontend/public/window.svg
  apps/frontend/src/app/favicon.ico
  apps/frontend/src/app/globals.css
  apps/frontend/src/app/layout.tsx
  apps/frontend/src/app/page.tsx
  apps/frontend/tsconfig.json
Due: biome-root, biome-frontend

refactor: Configure frontend as workspace package
  .claude/settings.local.json
  apps/frontend/package.json
  package.json
Due: biome-root

chore: Clean up root directory
  pnpm-lock.yaml
Due: none

chore: Install workspace dependencies and update gitignore
  .claude/settings.local.json
  .gitignore
  biome.json
  pnpm-lock.yaml
Due: biome-root
